{% set title %}关于SNH48公演检索{% endset %}
{% include 'header.html' %}
<body>
  <main>
    <h1>{{ title }}</h1>
    <nav>
      <a href="{{ url_for('index') }}">返回列表</a>
    </nav>
    <article>
      <p>本站记录了各队从原创公演起的所有普通公演（S队从《心的旅程》起，N队从《专属派对》起，H队从《美丽世界》起，X队从《梦想的旗帜》起，X2从《代号XⅡ》起）以及《心的旅程》起所有特殊公演。本站提供各种筛选方式，以便检索或进行数据统计。每场公演的参演人员信息由本站整理，并与<a href="http://www.snh48club.com/" target="blank" rel="noopener">48歌迷会</a>的数据进行了比对——在此表示感谢。</p>
      <p>本站所有数据可通过公共API获取。详见<a href="https://github.com/SNH48Live/snh48live.org/tree/master/filter/docs/api.md" target="_blank">API 文档</a>。</p>
    </article>
  </main>
{% include 'footer.html' %}
</body>
</html>

{#- Local Variables: -#}
{#- mode: jinja2 -#}
{#- End: -#}
